@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    margin-left: 24px;
    font-size: 14px;
    font-weight: 700;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 7%;
    background: #C244C2;
    display: flex;
    align-items: center;
    z-index: 100;
}

.header img {
    height: 50px;
    margin-left: 70px;
}

.search-bar {
    border: 1px solid white;
    padding: 0.4rem 0.9rem;
    border-radius: 999px;
    color: white;
    margin-left: auto;
}

.search-bar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.search-bar input::placeholder {
    color: white;
}

#landingPage {
    object-fit: cover;
    display: flex;
    height: 55rem;
}

.img-landing img {
    margin-top: 5rem;
    width: 100%;
}

.content {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    gap: 3rem;
}

.text-content {
    flex: 1;
}

.image-content {
    flex: 1;
}

.button-content {
    padding: 8px 24px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    margin-top: 3rem;
    font-size: 14px;
    transition-duration: 0.4s;
    font-weight: 600;
}

.content-1 {
    background-color: white;
}

.text1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text1 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
    text-align: justify;
}

.img1 img {
    width: 32rem;
}

.container-widget-2 {
    background-color: #F9F6CD;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.container-widget-2 img {
    margin-top: 2rem;
    width: 96px;
    padding: 12px;
}

.content-2 {
    background-color: #F9F6CD;
}

.text2 h2 {
    font-size: 48px;
}

.text2 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
}

.img2 img {
    width: 25rem;
}

.button2 {
    background-color: #C244C2;
    border-color: #FFCB95;
    color: white;
}

.button2:hover {
    background-color: #FFCB95;
    color: black;
    border-color: black;
}

.container-divider-3 {
    margin-bottom: -16px;
}

.content-3 {
    background-color: #C244C2;
}

.text3 h2 {
    font-size: 48px;
    color: white;
}

.text3 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
    color: white;
}

.img3 img {
    width: 36rem;
}

.button3 {
    background-color: white;
    border-color: #FFCB95;
    color: black;
}

.button3:hover {
    background-color: #FFCB95;
    color: black;
    border-color: black;
}

.container-divider-4 {
    margin-bottom: -16px;
}

.content-4 {
    background-color: white;
}

.text4 h2 {
    font-size: 48px;
}

.text4 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
}

.img4 img {
    width: 38rem;
}

.button4 {
    background-color: #C244C2;
    border-color: #FFCB95;
    color: white;
}

.button4:hover {
    background-color: #FFCB95;
    color: black;
    border-color: black;
}

.container-divider-5 {
    margin-bottom: -16px;
}

.content-5 {
    background-color: #C244C2;
}

.text5 h2 {
    font-size: 48px;
    color: white;
}

.text5 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
    color: white;
}

.img5 img {
    width: 34rem;
}

.button5 {
    background-color: white;
    border-color: #FFCB95;
    color: black;
}

.button5:hover {
    background-color: #FFCB95;
    color: black;
    border-color: black;
}

.content-6 {
    background-color: white;
}

.text6 h2 {
    font-size: 48px;
}

.text6 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
}

.img6 img {
    width: 30rem;
}

.button6 {
    background-color: #C244C2;
    border-color: #FFCB95;
    color: white;
}

.button6:hover {
    background-color: #FFCB95;
    color: black;
    border-color: black;
}

.container-divider-7 {
    margin-bottom: -16px;
}

.content-7 {
    background-color: #C244C2;
}

.text7 h2 {
    font-size: 48px;
    color: white;
}

.text7 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
    color: white;
}

.img7 img {
    width: 25rem;
}

.button7 {
    background-color: white;
    border-color: #FFCB95;
    color: black;
}

.button7:hover {
    background-color: #FFCB95;
    color: black;
    border-color: black;
}

.container-divider-8 {
    margin-bottom: -16px;
}

.content-8 {
    background-color: white;
}

.text8 h2 {
    font-size: 48px;
}

.text8 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
}

.img8 img {
    width: 30rem;
}

.button8 {
    background-color: #C244C2;
    border-color: #FFCB95;
    color: white;
}

.button8:hover {
    background-color: #FFCB95;
    color: black;
    border-color: black;
}